<section>
  <ol>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
    <li>
      <h2>Groceries to get</h2>
      <p>Eggs, milk, cheese</p>
    </li>
  </ol>
</section>
