nav {
  background: black;
  height: 100vh;
  padding: 0 1em;
  .nav-icon {
    width: 3em;
    stroke: white;
  }
  .nav-body {
    color: white;
    font-family: "Bold";
    ol {
      margin: 0;
      padding: 0;
      li {
        padding: 0 1em 0 1em;
        font-size: 2em;
        list-style: none;
        position: relative;
        margin-bottom: 0.5em;
        &:hover::before{
            content: '';
            border-radius: 0.5em;
            position: absolute;
            left: 0.2em;
            background: white;
            width: 0.2em;
            height: 80%;
            top: 50%;
            transform: translateY(-50%);
        }
      }
    }
  }
}
